<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SocialCar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E67C7C18B263C56B4AA6ED5CE52B74E4FA1CBEBB</string>
				<key>dateExpires</key>
				<string>01/03/2018</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E67C7C18B263C56B4AA6ED5CE52B74E4FA1CBEBB</string>
						<key>dateExpires</key>
						<string>01/03/2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>57429M5VS7</string>
						<key>name</key>
						<string>Kostas Kalogirou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E67C7C18B263C56B4AA6ED5CE52B74E4FA1CBEBB</string>
						<key>dateExpires</key>
						<string>01/03/2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>57429M5VS7</string>
						<key>name</key>
						<string>Kostas Kalogirou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E67C7C18B263C56B4AA6ED5CE52B74E4FA1CBEBB</string>
						<key>dateExpires</key>
						<string>01/03/2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>57429M5VS7</string>
						<key>name</key>
						<string>Kostas Kalogirou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E67C7C18B263C56B4AA6ED5CE52B74E4FA1CBEBB</string>
						<key>dateExpires</key>
						<string>01/03/2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>57429M5VS7</string>
						<key>name</key>
						<string>Kostas Kalogirou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E67C7C18B263C56B4AA6ED5CE52B74E4FA1CBEBB</string>
						<key>dateExpires</key>
						<string>01/03/2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>57429M5VS7</string>
						<key>name</key>
						<string>Kostas Kalogirou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E67C7C18B263C56B4AA6ED5CE52B74E4FA1CBEBB</string>
						<key>dateExpires</key>
						<string>01/03/2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>57429M5VS7</string>
						<key>name</key>
						<string>Kostas Kalogirou</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E67C7C18B263C56B4AA6ED5CE52B74E4FA1CBEBB</string>
						<key>dateExpires</key>
						<string>01/03/2018</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>57429M5VS7</string>
						<key>name</key>
						<string>Kostas Kalogirou</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>57429M5VS7.certh.gr.SocialCar</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>57429M5VS7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SocialCar.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>92d942dd-9222-4815-98ba-efa8da501229</string>
				<key>name</key>
				<string>XC iOS: certh.gr.SocialCar</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>57429M5VS7</string>
				<key>name</key>
				<string>Kostas Kalogirou</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
